/*  your css code here. If applicable */
.middle{
	width: 1200px;
	height: 100px
}
table,td,tr{
border: 1px solid black;
padding: 1px;	
            }
.eg-2{
	padding: 10px;
}
#green{
	background-color: green;
}
#blue{
	background-color: blue;
}
#eg-1{
	text-align: center;
}
img{
	text-align: center;
}